@model IEnumerable<Prototipos_Huertos_Autosustentables.Models.DetalleCultivosUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCultivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetrosCuadrasDetalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioSemillasDetalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarCultivoDetalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCultivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetrosCuadrasDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioSemillasDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LugarCultivoDetalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
